li{
    list-style-type: none
}
body{
    width: 100%;
    height: 600px;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    color: white;
}

.favoriteText, .propertyImg, .contFavorite, .contLogo, .contHomepage, .contProperties, .contAgencies, .contPages, .contAbout, .contContact:hover {
    cursor: pointer;
}

.infoSectionHeader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #2A41E8;
}
    .infoHeader{
        margin-top: 20px;
    }
   


.navSectionHeader{
    width: 100%;
    display: flex;
    margin-bottom: -7px;
}
    .navHeader{
        width: 100%;
        display: flex;
    }
        .contenedorNavInfo{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
            .contLogo{
                margin-left: 1%;
            }
            .contContact{
                color: rgb(136, 136, 136);
            }
            .contFavorite{
                color: rgb(136, 136, 136);
            }
            .submitListing{
                height: 100%;
                width: 100%;
            }

    

main{
    height: 100%;
    background-image: url('/images/fondo.png');
    background-repeat : no-repeat;
    background-size : contain;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    
}

.hSecondText{
    margin-top: 100px;
    padding-left: 10%;
    font-size: 30px;
    color: white;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hMainText{
    margin-bottom: 30px;
    font-size: 15px;
    padding-left: 10%;
    color: white;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.formCont{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 350px;
    width: 80%;
    border-radius: 4px;
    
}
    .typeClass{
        display: flex;
        flex-direction: column;
        background-color: #ECECEC;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 2%;
        padding: 10px;
        border-radius: 4px;
        width: 15%;
        

    }
    .statusClass{
        display: flex;
        flex-direction: column;
        background-color: #ECECEC;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 1%;
        margin-left: 1%;
        padding: 10px;
        border-radius: 4px;
        width: 20%;
       
    }
    .inputClass{
        display: flex;
        flex-direction: column;
        background-color: #ECECEC;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 1%;
        padding: 10px;
        border-radius: 4px;
        width: 40%;
        height: 45%;
   
    }
    .inputAndButton{
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #ECECEC;
        border-radius: 4px;
        width:58%;
    }
    .inputAndButton button{
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 4px;
        width:22%;
        border: none;
        background-color: #2A42E8;
        color: white;
    }
    .inputAndButton input{
        margin-top: 35px;
        border-radius: 4px;
        width: 70%;
        margin-left: 3%;
        border: none;
    }

    /* parte de las cards */

    .postInfoText{
        display: flex;
        justify-content: center;
        width: 100%;
        

    }.casaRoyalTextCont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        justify-content: center;
    }.featuredPropertiesText{
        margin-bottom: 50px;
        font-size: 50px;
        align-content: center;
        justify-content: center;
    }.casaRoyalText{
        color: rgb(119, 119, 119);
     
        font-size: 15px;
        align-content: center;
        justify-content: center;
    }

    
        

   
    #propertiesSearchLoaded{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
.propertyCard{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 309px;
    margin-bottom: 50px;
}
    .allPropertyData{
        margin-left: 20px;
        margin-right: 20px;
    }
    .miscelaneaInfo{
        position: absolute;
    }
    .propertyImg{
        object-fit: cover;
    }.propertyImg img{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        width: 309px;
        height: 309px;
    }
    .typeText{
        position: absolute;
        
        top: 20px;
        left: 20px;
        color: white;
        background-color: #2A42E8;
        padding-left: 5px;
        padding-right: 5px; 
        padding-top: 5px;
        padding-bottom: 3px;  
        border-radius: 4px;
    }.statusText{
        position: absolute;
        top: 20px;
        left: 100px;
        padding-left: 5px;
        padding-right: 5px;  
        padding-top: 5px;
        color: white;
        background-color: #FF5E15;
        padding-bottom: 3px;  
        border-radius: 4px;
    }.favoriteText{
        position: absolute;
        left: 270px;
        top: 20px;
        background-color: rgb(86, 83, 248);
        padding-left: 5px;
        padding-right: 5px; 
        padding-top: 5px;
        padding-bottom: 3px;  
        border-radius: 4px;
        color: white;
        
    }
    .undoFavorite{
        position: absolute;
        left: 230px;
        top: 20px;
        background-color: rgb(86, 83, 248);
        padding-left: 5px;
        padding-right: 5px; 
        padding-top: 5px;
        padding-bottom: 3px;  
        border-radius: 4px;
        color: white;
    }
    .priceText{
        position: absolute;
        top: 270px;
        left: 20px;
        background-color: white;
        color: #2A42E8;
        padding-left: 10px;
        padding-right: 10px; 
        padding-top: 5px;
        padding-bottom: 3px;  
        border-radius: 4px;
    }

    .ubicationText{
        color: rgb(119, 119, 119);
        font-size: 13px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .infoTextCont{
        display: flex;
        font-size: 14px;
        margin-top: 10px;
    }
        .infoText{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: wrap;
        }
    .posterAndDateCont{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        
    }.posterText{
        color: #2A41E8;
    }.agentIcon{
        position: relative;
        top: 3px;
        border-radius: 4px;
    }
    .postDateText{
        color: rgb(119, 119, 119);
        font-size: 12px;
    }

    .distanceAndHouseInfoCont{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }.infoIcons{
        gap: 15px;
        display: flex;
        justify-content: space-evenly;
    }

footer{
    background-color: rgb(32, 32, 32);
    color: rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    width: 100%;
}
   .contFooterLogo{
    margin-left: 10%;
   }
   .moreInformation{
    display: flex;
    gap: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
   }
   .titleInformation{
    margin-bottom: 20%;
   }
   .footertext{
    margin-bottom: 5%;
   }
   .titleInformationCasa{
    margin-bottom: 5%;
   }
        .footertextDirection{
            margin-left: 5%;
        }
        .footertextNum{
            margin-left: 5%;

        }
.footerfooter{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.hrfooter{
    background: #2A41E8;
    margin-top: 5%;
}
.hrlogo{
    margin-top: -9px;
}
/* text-overflow: ellipsis;
overflow: hidden;
white-space: wrap; */

.editProperty{
    position: absolute;
        left: 270px;
        top: 60px;
        background-color: rgb(86, 83, 248);
        padding-left: 5px;
        padding-right: 5px; 
        padding-top: 5px;
        padding-bottom: 3px;  
        border-radius: 4px;
        color: white;
}